<div class="mypage-header">
<div class="mypage-link-area">
<ul>
    <li><a href="/users/current_user/records">ТіЋуе┐Уеўжї▓</a></li>
    <li><%= link_to "тЈѓтіаућ│УЙ╝Уеўжї▓", participants_path(current_user) %></li>
    <li><%= link_to "сЂіТ░ЌсЂФтЁЦсѓі", likes_path(current_user) %></li>
    <li><%= link_to "DMжђџуЪЦ",  notifications_index_path(current_user) %></li>
    <li><%= link_to "сЃдсЃ╝сѓХсЃ╝ТЃЁта▒уиежЏє",edit_user_registration_path(current_user)%></li>
    <li><%= link_to "сЃГсѓ░сѓбсѓдсЃѕ", destroy_user_session_path, :method => :delete %></li>
</ul>
</div>
</div>



<% @likes=@user.likes %>
<div class="card-group">
<% @likes.order(id: "DESC").each do |i| %>
    <div class="card">
    <div class="card-body">
        <h5 class="card-title"><%= Post.find(i.post_id).title %><br>­ЪЉЇ<%= Post.find(i.post_id).participated_users.count %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= Post.find(i.post_id).date %><br>та┤ТЅђ№╝џ<%= Post.find(i.post_id).location %></h6>
        <a href="/posts/<%= i.post_id %>" class="card-link card-link1">УЕ│у┤░</a>

    </div>
    </div>
    <% end %>
</div>
