<div class="mypage-header">
<div class="mypage-link-area">
<ul>
    <li><a href="/users/current_user/records">ТіЋуе┐Уеўжї▓</a></li>
    <li><%= link_to "тЈѓтіаућ│УЙ╝Уеўжї▓", participants_path(current_user) %></li>
    <li><%= link_to "сЂіТ░ЌсЂФтЁЦсѓі", likes_path(current_user) %></li>
    <li><%= link_to "DMжђџуЪЦ",  notifications_index_path(current_user) %></li>
    <li><%= link_to "сЃдсЃ╝сѓХсЃ╝ТЃЁта▒уиежЏє",edit_user_registration_path(current_user)%></li>
    <li><%= link_to "сЃГсѓ░сѓбсѓдсЃѕ", destroy_user_session_path, :method => :delete %></li>
</ul>
</div>
</div>



<div class="card-group">
    <% @records.order(id: "DESC").each do |r| %>
    <div class="card">
    <div class="card-body">
        <h5 class="card-title"><%= r.title %><br>­ЪЉЇ<%= r.participated_users.count %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= r.date %><br>та┤ТЅђ№╝џ<%= r.location %></h6>
        <a href="/posts/<%= r.id %>" class="card-link card-link1">УЕ│у┤░</a>
        <% if user_signed_in? && current_user.id == r.user_id %>
        <a href="/posts/<%= r.id %>/edit" class="card-link card-link2" style="margin: 20px auto;">уиежЏє</a>   
    <% end %>
    </div>
    </div>
    <% end %>
</div>
    